table {
	border: 1px solid blue;
	border-collapse: collapse;
}

td, th {
	font-family: sans-serif, Arial;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid red;
	padding: 5px;
	text-align: center;
}