<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>New year</title>
		<style>
			h1 {
				text-align: center;
				padding: 70px;
				margin-top: 200px;
				color: green;
				border: dotted 10px orange;
			}
			h1:hover {
				border: dotted 10px red;
				color: orange;
				font-size: 60px;
				background-color: lightblue;
			}
		</style>
	</head>
	<body>
		{% if is_newyear %}
			<h1>Yes, happy new year</h1>
		{% else %}
			<h1><span style="background-color: white;"><span style="color:red">New Year</span> is yet to come</span></h1>
		{% endif %}
	</body>
</html>